# Security: NEVER upload environment variables!
.env

# Virtual Environments: Ignore the heavy folders where tools are downloaded
venv/
env/
.venv/

# Python Cache: Ignore the messy system files Python creates behind the scenes
__pycache__/
*.pyc
*.pyo

# IDEs: Ignore personal editor settings
.vscode/
.idea/